.characters_list {
  text-align: center;
  width: 100%;

  margin-bottom: 25px;
}

.load_btn__wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .characters_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
  }
}
